---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: fail2ban
  namespace: network
spec:
  plugin:
    fail2ban:
      numberFails: 5        # requests with 4xx before banning
      banTime: 1m           # ban duration
      clientHeader: RemoteAddr
      logLevel: DEBUG
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: local-only
  namespace: network
spec:
  ipAllowList:
    sourceRange:
      - "10.0.0.0/8"
      - "127.0.0.1/32"